body {
width : 80%;
margin : auto; 
background : grey
}

h1 {
color: red;
background : yellow;
text-align : center;
font-family: cursive;
}
/* La je mets sans puces, mais il existe plusieurs Style de puces ==> */
.SansPuces {
	list-style-type: none;
	
}

.Pouces{
	
	list-style-type: "\1F44D"
}